*{
    margin: 0;
    padding: 0;
}
/* shared styles */
.fonts{
    font-family: Poppins;
}

.display-flex{
    display: flex;
    flex-direction: row;
}

/* nav-section */
.nav-bar{
   justify-content: space-around;
   margin-top: 80px;
   margin-bottom: 50px;
}

.brand{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links{
    list-style-type: none;
    gap: 34px;
}

.nav-links a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

/* banner-section */
.banner{
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.banner-content{
    width: 582px;
}

.banner-title{
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.banner-description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.banner-btn{
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
    background: #E02C6D;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.banner-image-container{
    width: 475px;
    height: 475px;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    padding: 30px;
}

/* responsive for mobile */
@media screen and ( max-width:576px ) {
    .nav-bar, 
    .nav-links, 
    .banner-content{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .banner{
        flex-direction: column-reverse;
    }

    .banner-content{
        width: 100%;
    }
    .banner-image-container{
       width: 257px;
       height: 257px;
    }
     .banner-image-container img{
        width: 202px;
        height: 190px;
     }
}